
<app-nav-bar [navigations]="navigation"></app-nav-bar>

<div class="position-relative Exam-banner">
  <img  class="exam-image" src="./../../../assets/Exam-Events1.jpg"  width="100%" alt="">
  <div class="title">
    <div class="title-text">Grade 12 Ethiopian Univeristy Entrance National Exams</div>
  <div class="title-year">From 2000/2008-2015/2023 Years Exams</div>
  </div>


</div>
  <div class="container-fluid justify-content-center  row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card position-relative">
        <img class="card-img-top" src="./../../../assets/peace.png" alt="">
        <div class="card-body">
          <div class="card-title text-center">EUEE Exams From 2000-2015 Years</div>
          <p class="card-subtitle">From Grade 9 EUEE Exams</p>
          <p class="card-subtitle">From Grade 10 EUEE Exams</p>
          <p class="card-subtitle">From Grade 11 EUEE Exams</p>
          <p class="card-subtitle">From Grade 12 EUEE Exams</p>
          <button class="btn btn-primary card-button">see EUEE EXams By Year</button>
          <!-- <button class="btn btn-primary card-button">see EUEE EXams By Grades</button> -->
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card position-relative">
        <img class="card-img-top" src="./../../../assets/peace.png" alt="">
        <div class="card-body">
          <div class="card-title text-center">EUEE Exams From 2000-2015 Years</div>
          <p class="card-subtitle">From Grade 9 EUEE Exams</p>
          <p class="card-subtitle">From Grade 10 EUEE Exams</p>
          <p class="card-subtitle">From Grade 11 EUEE Exams</p>
          <p class="card-subtitle">From Grade 12 EUEE Exams</p>
          <button class="btn btn-primary card-button">see EUEE EXams By Year</button>
          <!-- <button class="btn btn-primary card-button">see EUEE EXams By Grades</button> -->
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card position-relative">
        <img class="card-img-top" src="./../../../assets/peace.png" alt="">
        <div class="card-body">
          <div class="card-title text-center">EUEE Exams From 2000-2015 Years</div>
          <p class="card-subtitle">From Grade 9 EUEE Exams</p>
          <p class="card-subtitle">From Grade 10 EUEE Exams</p>
          <p class="card-subtitle">From Grade 11 EUEE Exams</p>
          <p class="card-subtitle">From Grade 12 EUEE Exams</p>
          <button class="btn btn-primary card-button">see EUEE EXams By Year</button>
          <!-- <button class="btn btn-primary card-button">see EUEE EXams By Grades</button> -->
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card position-relative">
        <img class="card-img-top" src="./../../../assets/peace.png" alt="">
        <div class="card-body">
          <div class="card-title text-center">EUEE Exams From 2000-2015 Years</div>
          <p class="card-subtitle">From Grade 9 EUEE Exams</p>
          <p class="card-subtitle">From Grade 10 EUEE Exams</p>
          <p class="card-subtitle">From Grade 11 EUEE Exams</p>
          <p class="card-subtitle">From Grade 12 EUEE Exams</p>
          <button class="btn btn-primary card-button">see EUEE EXams By Year</button>
          <!-- <button class="btn btn-primary card-button">see EUEE EXams By Grades</button> -->
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card position-relative">
        <img class="card-img-top" src="./../../../assets/peace.png" alt="">
        <div class="card-body">
          <div class="card-title text-center">EUEE Exams From 2000-2015 Years</div>
          <p class="card-subtitle">From Grade 9 EUEE Exams</p>
          <p class="card-subtitle">From Grade 10 EUEE Exams</p>
          <p class="card-subtitle">From Grade 11 EUEE Exams</p>
          <p class="card-subtitle">From Grade 12 EUEE Exams</p>
          <button class="btn btn-primary card-button">see EUEE EXams By Year</button>
          <!-- <button class="btn btn-primary card-button">see EUEE EXams By Grades</button> -->
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card position-relative">
        <img class="card-img-top" src="./../../../assets/peace.png" alt="">
        <div class="card-body">
          <div class="card-title text-center">EUEE Exams From 2000-2015 Years</div>
          <p class="card-subtitle">From Grade 9 EUEE Exams</p>
          <p class="card-subtitle">From Grade 10 EUEE Exams</p>
          <p class="card-subtitle">From Grade 11 EUEE Exams</p>
          <p class="card-subtitle">From Grade 12 EUEE Exams</p>
          <button class="btn btn-primary card-button">see EUEE EXams By Year</button>
          <!-- <button class="btn btn-primary card-button">see EUEE EXams By Grades</button> -->
        </div>
      </div>
    </div>


    </div>


    <!-- <app-footer></app-footer> -->

