
<div class="container-fluid row col-12 m-0 bg-secondary" >
  <ul class="row forfooternav list-unstyled">
      <li class="col-4"><ul class="row followus list-unstyled">

          <li class=" us fw-bold text-center me-5 mb-4">Follow us</li>
          <li class=" col-2"><a href=""><img src="./images/Facebook-logo.png" height="40px" alt="facebook"></a></li>
          <li class=" col-2"><a href=""><img src="./images/twitter.png" alt="twitter" height="40px"></a></li>
          <li class=" col-2 "><a href="https://t.me/ethio_exams2"><img src="./images/Telegram-logo.png" alt="telegram photo" height="40px"></a></li>

      </ul></li>
      <li class="col-4"><a class="abt" href="./about.html">About</a></li>
      <li class="col-4"><a class="cnt" href="./contact.html">Contact</a></li>
  </ul>


  <div class="row text-center">
      <ul class=" tutorials col-lg-3 col-md-6 col-sm-12 list-unstyled">
          <li class=" fw-bold"> Tutorials</li>
          <li><a href="./grade 9.html">Grade 9</a></li>
          <li><a href="./Grade 10.html">Grade 10</a></li>
          <li><a href="./Grade.11.html">Grade 11</a></li>
          <li><a href="./Grade 12.html">Grade 12</a></li>
      </ul>
      <ul class="col-lg-3 col-md-6 col-sm-12 euee list-unstyled">
         <li class=" fw-bold"> EUEE Exams</li>
          <li>English Exams </li>
          <li>Mathematics Exams</li>
          <li>Physics Exams</li>
          <li>Chemistry Exams</li>
          <li>Biology Exams</li>
          <li>Civics Exams</li>
      </ul>
      <ul class="col-lg-3 col-md-6 col-sm-12 handouts list-unstyled">
         <li class=" fw-bold"> Handouts</li>
          <li>English Handouts</li>
          <li>Mathematics Handouts</li>
          <li>Physics Handouts</li>
          <li> Chemistry Handouts</li>
          <li> Biology Handouts</li>
          <li> Civics Handouts</li>
      </ul>
      <ul class="col-lg-3 col-md-6 col-sm-12 referencebook list-unstyled">
          <li class=" fw-bold">Reference Books</li>
          <li >English Reference books</li>
          <li>Mathematics  Reference books</li>
          <li >Physics Reference books</li>
          <li > Chemistry  Reference books</li>
          <li > Biology  Reference books</li>
          <li> Civics  Reference books</li>
      </ul>

  </div>

  <p class="copy text-center mt-3"> © 2022 Ethio Exams Academy</p>


</div>
