.form-container{
  margin-top: 40px;
align-items: center;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.form,.signup-profile{
  height: 600px;
  padding: 40px;
width: 30%;
  background-color: azure;
}
.form-control-btn{
  margin-top: 30px;
}
form label{
  padding-top: 20px;
  font-weight: 600;
}
.register{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
